	<h1> Post a tweet! </h1>
  <form action="/statuses" method="POST">
    <label id="status_title">
      <input type="text" name="status[body]" id="status_title">

      <button>Tweet</button>
  </form>
